In [8]:
import pyodbc 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from IPython.display import display
import pandas_profiling as pp

In [9]:
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [10]:
pd.set_option('display.max_columns', None)
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-5UQEVT5\SQLEXPRESS;'
                      'Database=gisDB;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

In [11]:

query = """
select top 5 *
from  [dbo].[gisdb_test]
where geoid is not null

"""
df = pd.read_sql(query, conn)

display(df)

  station        lat        lng            geoid state county   tract block
0       1  33.626177 -98.066593  480770303021036    48     77   30302  1036
1      10  37.786761 -98.092724  201550018001114    20    155    1800  1114
2    1000  36.667908 -77.008185  511752004002068    51    175  200400  2068
3    1001  33.162642 -98.698637  485039504002141    48    503  950400  2141
4    1002  31.811688 -95.105910  480739508013036    48     73  950801  3036

In [12]:
df.describe()

             lat        lng
count   5.000000   5.000000
mean   34.611035 -93.394410
std     2.510981   9.266551
min    31.811688 -98.698637
25%    33.162642 -98.092724
50%    33.626177 -98.066593
75%    36.667908 -95.105910
max    37.786761 -77.008185

In [13]:

print(df.to_json(orient ='index'))

{"0":{"station":"1","lat":33.62617708,"lng":-98.06659306,"geoid":"480770303021036","state":"48","county":"77","tract":"30302","block":"1036"},"1":{"station":"10","lat":37.78676145,"lng":-98.09272377,"geoid":"201550018001114","state":"20","county":"155","tract":"1800","block":"1114"},"2":{"station":"1000","lat":36.66790756,"lng":-77.00818535,"geoid":"511752004002068","state":"51","county":"175","tract":"200400","block":"2068"},"3":{"station":"1001","lat":33.16264155,"lng":-98.6986372,"geoid":"485039504002141","state":"48","county":"503","tract":"950400","block":"2141"},"4":{"station":"1002","lat":31.81168799,"lng":-95.10591014,"geoid":"480739508013036","state":"48","county":"73","tract":"950801","block":"3036"}}

In [ ]:
profile = pp.ProfileReport(df)
profile.to_file("output1.html")

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]