# Microsoft SQL Server:
is a relational database management system developed by Microsoft. As a database server, it is a software product with the primary function of storing and retrieving data as requested by other software applicationsâ€”which may run either on the same computer or on another computer across a network.

#### Load modules

In [38]:
import pyodbc 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from IPython.display import display
#import pandas_profiling as pp
pd.options.display.max_rows = None
pd.options.display.max_columns = None

### Establishing connection

In [39]:
try:
    pd.set_option('display.max_columns', None)
    conn = pyodbc.connect('Driver={SQL Server};'
                          'Server=LAPTOP-8MGLLLEQ;'
                          'Database=python_test;'
                          'Trusted_Connection=yes;')
    cursor = conn.cursor()
    print("Connection has been established!!!!!")
    
except:
    print("------something went wrong------")

Connection has been established!!!!!

In [17]:

cursor = conn.cursor()

cursor.execute("""
                    CREATE TABLE products (
                    product_id int primary key,
                    product_name nvarchar(50),
                    price int
                      )



""")

conn.commit()

print("Table has been created!!!")

Table has been created!!!

In [43]:
product_id =  input("Enter product id:     ")
product_name = input("Enter product Name:  ")
price = input("Enter price:    ")

cursor.execute(f"""
                    INSERT INTO products (product_id, product_name, price)
                    VALUES
                    ({product_id},'{product_name}',{price})
             



""")
conn.commit()
print("Values have been entered into the database!!")

Enter product id:     7
Enter product Name:  Computer Table
Enter price:    80

ProgrammingError: Attempt to use a closed cursor.

In [41]:
query = """
select * from [dbo].[products]

"""
df = pd.read_sql(query, conn)

display(df)

   product_id      product_name  price
0           1  Desktop Computer    800
1           2            Tablet   1200
2           3            Tablet    200
3           4           Monitor    350
4           5           Printer    150
5           6        Memory ram    125

In [35]:
df.describe()

       product_id        price
count    5.000000     5.000000
mean     3.000000   540.000000
std      1.581139   449.165894
min      1.000000   150.000000
25%      2.000000   200.000000
50%      3.000000   350.000000
75%      4.000000   800.000000
max      5.000000  1200.000000

#### Converting data into json

In [36]:
print(df.to_json(orient ='index'))

{"0":{"product_id":1,"product_name":"Desktop Computer","price":800},"1":{"product_id":2,"product_name":"Tablet","price":1200},"2":{"product_id":3,"product_name":"Tablet","price":200},"3":{"product_id":4,"product_name":"Monitor","price":350},"4":{"product_id":5,"product_name":"Printer","price":150}}

# Make sure you close your connection.
If we don't close the connection, it will lead to connection memory leakage. Unless/until application server/web server is shut down, connection will remain activate even though the user logs out.

There are additional reasons. Suppose database server has 10 connections available and 10 clients request for the connection. If the database sever grants all of them, and after their usage they are not closed, the database server would not be able to provide a connections for another request. For that reason we need to close them - it is mandatory.

Furthermore, it might lead to some mischievous activities regarding the integrity of the database. https://stackoverflow.com/questions/25864235/why-we-should-close-the-connection-in-jdbc-if-we-dont-do-it-what-will-happen

In [42]:
cursor = conn.cursor()
cursor.close()
print("Connection has been closed!!")

Connection has been closed!!